ul{
  
  list-style: "==>";
}

.app{
  border: 2px solid rgb(192, 191, 191);
  min-width: 300px;
  border-radius: 5px;
  margin: 10% 50%;
  padding: 20px;
  box-shadow: 2px 2px 2px grey;
  background-color: #fdf1bad8;
}
.done{
  text-decoration: line-through;
}
.list{
  display: flex;
  flex-direction: column;
}
.list li{
  overflow-wrap: break-word;
  cursor: pointer;
}
.item-contanier{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}